.form-container {
  margin: 10px auto;
  width: 1000px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 590px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-content-left {
  border-radius: 10px 0 0 10px;
  position: relative;
}

.form-img {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-content-right {
  border-radius: 0 10px 10px 0;
  position: relative;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1 {
  font-size: 2rem;
  text-align: start;
  width: 80%;
  margin-left:20px;
  margin-bottom: 1rem;
  color: black;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-input-btn {
  width: 40%;
  height: 50px;
  margin-top: -10px;
  border-radius: 2px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
}
.form-input-btn:disabled{
  background-color: #fcdc00;
  opacity: 0.5;
}
.form-input-btn:enabled{
  background-color: #ffa000;
}

.form-input-btn:hover {
  cursor: pointer;
  background-color: #FF8D33 ;
  transition: all 0.4s ease-out;
}

.form-input-login {
  font-size: 0.8rem;
  margin-top: 10px;
  color: black;
  width: 80%;
  text-align: center;
}

.form-input-login a {
  text-decoration: none;
  color: #ffa000;
  font-weight: 600;
}

  .btn-2{
    transform: translateX(320px) translateY(-40px);
    font-size: 1.6rem;
    padding: 0.15rem;
    margin-left: 0.75rem;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border-color: transparent;
    margin-top: 3px;
    margin-bottom: -100%;
  }
  
input[type=checkbox] + label {
  display: block;
  cursor: pointer;
  padding: 0.2em;
  float: left;
  margin-left: -35%;
}

input[type=checkbox] {
 display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2rem;
  padding-bottom: 0.3em;
  margin-right: 0.2rem;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}